@tailwind base;
@tailwind components;
@tailwind utilities;

*::after,
*::before,
* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  /* 1rem = 10px */
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
}

img {
  max-width: 100%;
}

.blur-item {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
